<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Match Game</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Match_Game.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="/img/logo.png" />
                </a>
                <button class="navbar-toggler pe-4" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-end pe-5 pt-2">
                        <li class="nav-item">
                            <img class="navIcon" src="/img/para-voce.png" />
                            <a class="nav-link text-light" asp-area="" asp-controller="Jogos" asp-action="ListarJogos">Para Você</a>
                        </li>
                        <li class="nav-item">
                            <img class="navIcon-fav" src="/img/favoritos.png" />
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Favoritos</a>
                        </li>
                        <li class="nav-item">
                            <img class="navIcon-perfil" src="/img/perfil.png" />
                            <a id="perfil" class="nav-link text-light" asp-area="" asp-controller="Usuarios" asp-action="Create">Perfil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2023 - Match Game</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

