html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

dialog {
    border: none;
    width: 30vw;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.35);
}


.btnCancelar {
    background-color: #414141;
    opacity: 50%
}

/*Input file*/

#imgInput {
    display: none;
    cursor: pointer;
}

span {
    cursor: pointer;
}

.fotoUpload {
    width: 24vw;
    aspect-ratio: 4/2;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgba(0,0,0,0.35);
    border-radius: 15px;
    font-family: 'Arial';
    color: rgba(0,0,0,0.45);
    transition: background 200ms ease-in-out;
}

    .fotoUpload:hover {
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    cursor: pointer;
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadIcon {
    font-size: 5em;
}

/*Modal: alterar nome de usuário*/

#modalNome {
    height: 35vh;
}

.editUser > input {
    width: 80%;
    border-radius: 5px;
    height: 6vh;
    border: none;
    background-color: #DCDCDC;
    outline: none;
    padding: 2%;
}