<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

@model Match_Game_Oficial.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main-meu-perfil" id="perfil-details">

    
</main>




<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("DetalhesPerfil", "Perfil")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log("Dados do perfil:", data);

                // Criar elementos HTML com os dados recebidos, incluindo a foto
                var profileDetails = `
                    <h1>MEU PERFIL</h1>
                        <p>Confira abaixo todas as informações do seu perfil e personalize-o.</p>

                        <div class="box">
                            <div class="box-foto">
                                <div class="foto">
                                        <img src="data:image/jpeg;base64,${data.foto}" alt="Foto do usuário">
                                </div>
                                <div class="box-foto-info">
                                    <div class="box-foto-nome">
                                            <h3>${data.nome}</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="box-info">
                                <h3>INFORMAÇÕES PESSOAIS:</h3>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                            <h4>Email</h4>
                                            <p>${data.email}</p>
                                </div>
                                <div class="form-group">
                                       <h4>Data de Nascimento</h4>
                                        <p>${data.data_Nascimento}</p>
                                </div>
                               
                                <a asp-area="" asp-controller="Esqsenha" asp-action="SolicitarEmail">
                                    <button type="button" class="alterar-senha btn-green btn btn-primary">ALTERAR SENHA</button>
                                </a>
                                <a asp-area="" asp-controller="JogosRecomendados" asp-action="Index">
                                    <button type="button" class="minhas-recomendacoes btn btn-primary">MINHAS RECOMENDAÇÕES</button>
                                </a>
                                <a asp-area="" asp-controller="Recomendados" asp-action="Index">
                                    <button type="button" class="preferencias btn btn-primary">ALTERAR PREFERÊNCIAS</button>
                                </a>
                            </div>

                        </div>

                        
                       
                                            `;

                // Adicionar os detalhes do perfil ao elemento com id "perfil-details"
                $("#perfil-details").html(profileDetails);
            },
            error: function (error) {
                console.log("Erro ao chamar DetalhesPerfil:", error);
            }
        });
    });
</script>
