<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

@model IEnumerable<Match_Game_Oficial.Models.Usuario>

@{
    ViewData["Title"] = "Perfil de Usuários";
}


<main class="main-meu-perfil">

    <h1>MEU PERFIL</h1>

    <p>Confira abaixo todas as informações do seu perfil e personalize-o.</p>

    <div class="row box">
        <div class="col-6 box-foto">

            <div class="foto">
                <img src="/img/avatar-foto.png"/> 
            </div>

            <div class="box-foto-info">
                <div class="box-foto-alterar-foto">
                    <p><a asp-area="" asp-controller="" asp-action="">Alterar foto de perfil</a></p>
                </div>
                <div class="box-foto-alterar-nome">
                    <h3>
                        Joaquim da Silva
                    </h3>
                    <p><a asp-area="" asp-controller="" asp-action="">Alterar nome de perfil</a></p>
                </div>

            </div>
        </div>

        <div class="col-6">
            <h2>INFORMAÇÕES PESSOAIS</h2>

            <div class="box-info">
                <div class="form-group email">
                    <label class="control-label">E-mail Cadastrado</label>
                    <input class="form-control" placeholder="joaquimdasilva@gmail.com" />
                    <p><a asp-area="" asp-controller="Usuarios" asp-action="">Alterar e-mail cadastrado</a></p>
                </div>

                <div class="form-group">
                    <label class="control-label">Data de nascimento</label>
                    <input class="form-control" placeholder="10/05/2000" />
                </div>

                <div class="box-buttons">
                    <div>
                        <p class="btn btn-green alterar-senha"><a asp-area="" asp-controller="Esqsenha" asp-action="Solicitaremail">Alterar senha</a></p>
                    </div>
                    <div>
                        <p class="btn minhas-recomendacoes"><a asp-area="" asp-controller="Jogos" asp-action="ListarJogos">Minhas Recomendações</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>