@model IEnumerable<Match_Game_Oficial.Models.GameView>

@{
    ViewData["Title"] = "ListarJogos";
}

<style>
    .card:hover {
        box-shadow: -1px 9px 40px -12px #808080;
    }
</style>


<h1>ListarJogos</h1>

<div class="row">
    
    @foreach (var item in Model) {
                <div class="card" style="width:20em;margin:10px;">
                    <img src="" class="card-img-top" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                            </h3>
                        </div>
                        <div class="card_text">
                            <p>
                                @Html.DisplayFor(modelItem => item.Storyline)
                                @Html.DisplayFor(modelItem => item.FirstReleaseDate)
                                @Html.DisplayFor(modelItem => item.FirstReleaseDate)

                            </p>
                        </div>
                        <a href="#" class="btn btn-primary">Leia mais</a>
                    </div>
                </div>
            
    }
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $('.card').hover(
        function () {
            $(this).animate({
                marginTop: "=1%",
                marginBo5ttom: "+=1%"
            }, 200)
        },
        function () {
            $(this).animate({
                marginTop: "+=1%",
                marginBo5ttom: "-=1%"
            })
        }
    )
</script>