@model Match_Game.Models.Jogo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Jogo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Generos" class="control-label"></label>
                <input asp-for="ID_Generos" class="form-control" />
                <span asp-validation-for="ID_Generos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModoJogo" class="control-label"></label>
                <input asp-for="ModoJogo" class="form-control" />
                <span asp-validation-for="ModoJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plataforma" class="control-label"></label>
                <input asp-for="Plataforma" class="form-control" />
                <span asp-validation-for="Plataforma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orcamento" class="control-label"></label>
                <input asp-for="Orcamento" class="form-control" />
                <span asp-validation-for="Orcamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
