<link rel="stylesheet" href="~/css/ListarJogos.css" asp-append-version="true" />

@model Match_Game_Oficial.Models.Jogo

@{
    ViewData["Title"] = "Favoritos";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Games</title>
</head>
<body>

    <div class="heading-section">
        <h4 class="text-center" style="margin-top:3% !important;">JOGOS FAVORITOS</h4>
        <p class="text-center">Confira abaixo a lista dos jogos que foram favoritados por você.</p>
    </div>

    <div class="favoriteGamesList" data-username="@User.Identity.Name">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const favoriteGamesListContainer = document.querySelector('.favoriteGamesList');
            const userName = favoriteGamesListContainer.getAttribute('data-username');

            // Criando a chave do Local Storage
            const favoritosKey = `favoritos_${userName}`;

            // Obtendo os jogos favoritos associados ao nome do usuário
            const favoriteGamesList = JSON.parse(localStorage.getItem(favoritosKey)) || [];

            favoriteGamesList.forEach(favoriteGame => {
                const favoriteGameItem =

             `<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="item position-relative card">
                <div class="gameImg">
                    <img src="${favoriteGame.background_image}" alt="${favoriteGame.name} image" style="width: 100%; height: auto;">
                </div>

                <div id="favoritos">
                    <i id="favIcon" class="fa-solid fa-heart favoritos position-absolute top-90 end-0 b-24 favorite-button" style="color: #8952ff;" title="Favorito"></i>
                </div>

                <h4 class="game-name">${favoriteGame.name}<br>
                    <span class="platforms">${favoriteGame.parent_platforms}</span>
                </h4>

                <div class="info">
                    <ul class="list-unstyled infoGeral">
                        <li><i class="fa fa-star" style="color: #ffc800;"></i> <span class="rating">${favoriteGame.rating}</span></li>
                        <li><i class="fa-regular fa-calendar" style="color: #ffc800;"></i> <span class="date">${favoriteGame.released}</span></li>
                    </ul>
                </div>

                <div class="text-center saibaMaisBtn">
                    <button class="btn btnSaibaMais">SAIBA MAIS</button>
                </div>
            </div>
        </div>
    </div>
</div>`;

                favoriteGamesListContainer.insertAdjacentHTML('beforeend', favoriteGameItem);
            });
        });
    </script>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="https://kit.fontawesome.com/fe8eb85698.js" crossorigin="anonymous"></script>
