@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Lista de Jogos */
.headJgRecomendados {
    margin-top: 4%;
    margin-bottom: 4%
}


.tituloJogosRecomVoce {
    color: #6014EC;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 2.1rem;
}

.conteudoJgRecomenVoce {
    font-family: 'Poppins';
    font-size: 1.3rem;
}

/* Cards */

.card-title > h3 {
    font-family: 'Poppins';
    color: #059CAD;
    margin-top: 8%;
    font-size: 1.5vw;
}

.card {
    border-radius: 20px;
    box-shadow: 1px 5px 12px 2px rgb(219, 219, 219);
    margin-bottom: 4%;
}

.card > img {
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}



/* Favoritos Icon */

.fa-heart {
    font-size: 22px;
    margin-right: 4%;
    cursor: pointer;
}

/* btn Saiba Mias */
.btnSaibaMais {
    color: #ffffff;
    background: #6014EC;
    border-radius: 14px;
    font-family: 'Poppins';
    width: 80%;
    font-weight: 500;
}

    .btnSaibaMais:hover {
        background: #3230C3;
        color: #ffffff;
        border: solid 2px #ffff;      
    }


/* Media Querie */

/* Mobile */
@media screen and (max-width: 375px) {
    .card-title > h3 {
        font-size: 7vw;
    }

    .tituloJogosRecomVoce {
        font-size: 1.7rem;
    }

    .conteudoJgRecomenVoce {
        font-size: 1rem;
    }
}

@media screen and (min-width: 375px) and (max-width:575px) {
    .card-title > h3 {
        font-size: 7vw;
    }

    .tituloJogosRecomVoce {
        font-size: 1.7rem;
    }

    .conteudoJgRecomenVoce {
        font-size: 1rem;
    }
}

/* Tablet */
@media screen and (min-width: 577px) and (max-width:767px) {
    .card-title > h3 {
        font-size: 3vw;
    }
}