@model Match_Game_Oficial.Models.Esqsenha

@{
    ViewData["Title"] = "Inserir Código de Verificação";
}

<h1>Inserir Código de Verificação</h1>

<form asp-controller="Esqsenha" asp-action="VerificaCodigo" method="post">
    <div class="form-group">
        <label asp-for="Codigo" class="control-label">Supunhetamos código</label>
        <input asp-for="Codigo" class="form-control" />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NovaSenha" class="control-label">Supunhetamos senha</label>
        <input asp-for="NovaSenha" class="form-control" />
        <span asp-validation-for="NovaSenha" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Redefinir Senha</button>
</form>

