@model Match_Game_Oficial.Models.Esqsenha

@{
    ViewData["Title"] = "EnviarEmail";
}

<h1>Enviar Email com Código de Verificação</h1>

<form asp-controller="Esqsenha" asp-action="EnviarEmail" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"> Insira seu email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar Código de Verificação</button>
</form>

