@model Match_Game_Oficial.Models.Esqsenha

@{
    ViewData["Title"] = "EnviarEmail";
}

<h1>Enviar Email com Código de Verificação</h1>

@using (Html.BeginForm("EnviarEmail", "Esqsenha", FormMethod.Post))
{

    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)

   

    <input type="submit" value="Enviar Código de Verificação" />
}
